<div
    v-on:keydown="trapFocus"
    v-bind:class="miniCartActive"
    class="minicart"
>
    <div class="container">
        <p class="minicart--title">Recently added item(s)</p>
        <div class="minicart--products"></div>
        <div class="minicart--totals">
            <div class="container no-padding">
                <div class="row no-gutters">
                    <div class="col-6">
                        <p>
                            shipping:
                            <span class="minicart--totals-shipping">$0</span>
                        </p>
                    </div>
                    <div class="col-6">
                        <p>
                            total:
                            <span class="minicart--totals-cart">$0.00</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="minicart--checkout-links">
            <div class="container">
                <div class="row">
                    <div class="col-6 minicart--checkout-link-divider">
                        <a  role="navigation"
                            aria-roledescription="cart page"
                            class="minicart--checkout-link"
                            href="/cart"
                        >
                            cart
                        </a>
                    </div>
                    <div class="col-6">
                        <a role="navigation"
                            aria-roledescription="checkout page"
                            class="minicart--checkout-link"
                            href="/checkout"
                        >
                            checkout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>