.featured-collection {
  padding: 2.18rem 0;

  &--tabs {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    font-family: $merri-bold, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: $featured-collection--color-primary;

    &-tab {
      display: block;
      position: relative;
      cursor: pointer;
      height: 3rem;
      text-align: center;
      padding: .8rem 5.7rem;

      &::after {
        content: '';
        display: none;
        width: 100%;
        height: .2rem;
        background: $featured-collection--color-secondary;
      }

      &:focus-visible {
        color: $featured-collection--color-secondary;

        &::after {
          display: block;
        }
      }

      &-active {
        color: $featured-collection--color-secondary;

        &::after {
          display: block;
        }
      }

      @include media-breakpoint-up(md) {
        height: 10rem;
        padding: 4.18rem 3.1rem;
      }

      @include media-breakpoint-up(lg) {
        padding: 4.18rem 6.36rem;
      }
    }

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
  }

  &--products {
    position: relative;
    display: none;
    margin-left: -15px;
    margin-right: -15px;

    @include media-breakpoint-up(lg){
      margin-top: 1rem;
    }

    &-active {
      display: block;
    }

    &-lazyload {
      position: relative;
      margin-top: 1.5rem;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: .3px;
        background: $featured-collection--color-primary;
        top: 50%;
        transform: translateY(-50%);
      }

      &-button,
      &-loader {
        display: none;
        position: relative;
        background: $background-color;
        border: none;
        margin: 0 auto;
        z-index: 1;
      }

      &-button {
        min-width: 8.125rem;
        min-height: 1.875rem;
        font-size: 1rem;
        font-family: $merri-bold, sans-serif;
        line-height: 1.7;
        color: $featured-collection--color-secondary;
        text-transform: uppercase;
        text-align: center;

        &:hover {
          border: 1px solid $featured-collection--color-primary;
        }

        &:disabled {
          color: $featured-collection--color-primary;
        }
      }

      &-loader {
        width: 2rem;
        height: 2rem;
        fill: $featured-collection--color-secondary;
      }

      &-active {
        display: block;
      }
    }
  }
}