<section class="footer">
    <div class="container">
        <div class="row">
            {% for block in section.blocks %}
                <div class="col-12 col-md-3">
                    <h3 class="footer--heading">{{ block.settings.heading }}</h3>
                    {% if block.type == 'links' %}
                        <ul class="footer--links">
                            {% for link in linklists[block.settings.footer_linklist].links %}
                                <li class="footer--links-link">
                                    <a href="{{ link.url }}">{{ link.title | downcase }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <form>
                            <label>
                                <input name="email" type="email" placeholder="{{ block.settings.cta }}">
                            </label>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="flex-wrap-reverse row">
            <div class="col-12 col-md-6">
                <div class="footer--cards">
                    {% unless section.settings.visa == blank %}
                        <div class="footer--card">
                            {% include 'icon-card-visa.svg' %}
                        </div>
                    {% endunless %}
                    {% unless section.settings.mastercard == blank %}
                        <div class="footer--card">
                            {% include 'icon-card-mastercard.svg' %}
                        </div>
                    {% endunless %}
                    {% unless section.settings.discover == blank %}
                        <div class="footer--card">
                            {% include 'icon-card-discover.svg' %}
                        </div>
                    {% endunless %}
                    {% unless section.settings.amex == blank %}
                        <div class="footer--card">
                            {% include 'icon-card-amex.svg' %}
                        </div>
                    {% endunless %}
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="footer--socials">
                    {% unless section.settings.facebook == blank %}
                        <div class="footer--social">
                            
                        </div>
                    {% endunless %}
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Footer",
    "blocks": [
        {
            "name": "Newsletter",
            "type": "newsletter",
            "limit": 1,
            "settings": [
                {
                    "id": "heading",
                    "type": "text",
                    "label": "Newsletter Heading"
                },
                {
                    "id": "cta",
                    "type": "text",
                    "label": "Call to Action"
                }
            ]
        },
        {
            "name": "Links",
            "type": "links",
            "limit": 3,
            "settings": [
                {
                    "id": "heading",
                    "type": "text",
                    "default": "Customer Service",
                    "label": "Footer Links Heading"
                },
                {
                    "id": "footer_linklist",
                    "type": "link_list",
                    "label": "Link List"
                }
            ]
        }
    ],
    "settings": [
        {
            "id": "visa",
            "type": "checkbox",
            "label": "Visa"
        },
        {
            "id": "mastercard",
            "type": "checkbox",
            "label": "Mastercard"
        },
        {
            "id": "discover",
            "type": "checkbox",
            "label": "Discover"
        },
        {
            "id": "amex",
            "type": "checkbox",
            "label": "American Express"
        },
        {
            "id": "facebook",
            "type": "text",
            "label": "Facebook",
            "default": "facebook.com"
        },
        {
            "id": "instagram",
            "type": "text",
            "label": "Instagram",
            "default": "instagram.com"
        },
        {
            "id": "twitter",
            "type": "text",
            "label": "Twitter",
            "default": "twitter.com"
        },
        {
            "id": "pintrest",
            "type": "text",
            "label": "Pintrest",
            "default": "pintrest.com"
        },
        {
            "id": "youtube",
            "type": "text",
            "label": "Youtube",
            "default": "youtube.com"
        }
    ]
}
{% endschema %}