<section class="gallery">
    <div class="container">
        <div class="row">
            <div
                class="col-12
                {% unless section.blocks[4] == blank and section.blocks[5] == blank %}
                    col-md-8
                {% endunless %}
                "
            >
                <div class="row">

                    {% unless section.blocks[0] == blank %}

                    <div
                        class="gallery--first col-12"
                        {% if section.blocks[3] == blank %}
                            data-max-height="true"
                        {% endif %}
                    >
                        {% render 'gallery-content' with
                            block: section.blocks[0],
                            srcset_sizes: 'x400|',
                            navigation: true,
                            sectionId: section.id
                        %}
                    </div>

                    {% endunless %}

                    {% unless section.blocks[1] == blank and section.blocks[2] == blank %}

                    <div
                        class="gallery--second
                        {% if section.blocks[3] == blank  %}
                            col-12
                        {% else %}
                            col-12 col-md-6
                        {% endif %}
                        "
                        {% if section.blocks[2] == blank or section.blocks[3] == blank %}
                            data-max-height="true"
                        {% endif %}
                    >

                        {% if section.blocks[3] == blank %}
                            <div class="row">
                                <div
                                    class="
                                    {% if section.blocks[2] == blank %}
                                        col-12
                                    {% else %}
                                        col-12 col-md-6
                                    {% endif %}
                                ">
                                    {% render 'gallery-content' with
                                        block: section.blocks[1],
                                        srcset_sizes: '380x|480x|680x',
                                        navigation: true,
                                        sectionId: section.id
                                    %}
                                </div>

                                {% unless section.blocks[2] == blank %}
                                    <div class="col-12 col-md-6">
                                        {% render 'gallery-content' with
                                            block: section.blocks[2],
                                            srcset_sizes: '380x|480x|680x',
                                            navigation: true,
                                            sectionId: section.id
                                        %}
                                    </div>
                                {% endunless %}
                            </div>

                        {% else %}

                            {% render 'gallery-content' with
                                block: section.blocks[1],
                                srcset_sizes: '380x|280x|480x',
                                navigation: false,
                                sectionId: section.id
                            %}
                            {% render 'gallery-content' with
                                block: section.blocks[2],
                                srcset_sizes: '380x|280x|480x',
                                navigation: false,
                                sectionId: section.id
                            %}

                        {% endif %}

                    </div>

                    {% endunless%}

                    {% unless section.blocks[3] == blank %}

                    <div class="gallery--third col-12 col-md-6">
                        {% render 'gallery-content' with
                            block: section.blocks[3],
                            srcset_sizes: 'x450',
                            navigation: false,
                            sectionId: section.id
                        %}
                    </div>

                    {% endunless %}

                </div>
            </div>

            {% unless section.blocks[4] == blank and section.blocks[5] == blank %}

            <div
                class="gallery--fourth col-12 col-md-4"
                {% if section.blocks[5] == blank %}
                    data-max-height="true"
                {% endif %}
            >
                {% render 'gallery-content' with
                    block: section.blocks[4],
                    srcset_sizes: 'x710|',
                    navigation: false,
                    sectionId: section.id
                %}
                {% render 'gallery-content' with
                    block: section.blocks[5],
                    srcset_sizes: '380x|280x|480x',
                    navigation: false,
                    sectionId: section.id
                %}
            </div>

            {% endunless %}

        </div>
    </div>
</section>

{% schema %}
{
    "name": "Gallery",
    "max_blocks": 6,
    "blocks": [
        {
            "name": "Image with text overlay",
            "type": "image",
            "settings": [
                {
                    "id": "image",
                    "type": "image_picker",
                    "label": "Image"
                },
                {
					"id": "content",
					"type": "html",
                    "label": "Content",
                    "info": "Use basic HTML to format text"
                },
                {
                    "id": "url",
                    "type": "url",
                    "label": "Link to Product or Collection."
                }
            ]
        },
        {
            "name": "Video",
            "type": "video",
            "limit": 1,
            "settings": [
                {
                    "id": "video_url",
                    "type": "video_url",
                    "label": "Video URL",
                    "accept": ["youtube", "vimeo"]
                }
            ]
        },
        {
            "name": "Slideshow",
            "type": "slideshow",
            "limit": 1,
            "settings": [
                {
                    "id": "image_one",
                    "type": "image_picker",
                    "label": "Image"
                },
                {
                    "id": "content_one",
                    "type": "html",
                    "label": "Content",
                    "info": "Use basic HTML to format text"
                },
                {
                    "id": "url_one",
                    "type": "url",
                    "label": "Link to Product or Collection."
                },
                {
                    "id": "image_two",
                    "type": "image_picker",
                    "label": "Image"
                },
                {
                    "id": "content_two",
                    "type": "html",
                    "label": "Content",
                    "info": "Use basic HTML to format text"
                },
                {
                    "id": "url_two",
                    "type": "url",
                    "label": "Link to Product or Collection."
                },
                {
                    "id": "image_three",
                    "type": "image_picker",
                    "label": "Image"
                },
                {
                    "id": "content_three",
                    "type": "html",
                    "label": "Content",
                    "info": "Use basic HTML to format text"
                },
                {
                    "id": "url_three",
                    "type": "url",
                    "label": "Link to Product or Collection."
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "image",
            "name": "Gallery"
        }
    ]
}
{% endschema %}