.combobox {
    position: relative;
    margin-bottom: 15px;

    @include media-breakpoint-up(md) {
        width: fit-content;
        margin-bottom: 0;
        margin-left: auto;
    }
}

.combobox--input-label {
    display: block;
    position: relative;
    margin-bottom: 0;
    z-index: 5;
}

.combobox--search-input {
    width: 100%;
    height: 38px;
    border: 1px solid $combobox--color-border;
    padding-left: 11px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0%;

    &::placeholder {
        color: $combobox--color-primary;
    }

    &[aria-expanded="true"] {
        border-block-end: unset;
    }

    @include media-breakpoint-up(md) {
        width: 260px;
        height: 32px;
        font-size: .8rem;
    }
}

.combobox--search-input-icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 38px;
    height: 38px;
    margin-right: 2px;

    svg {
        fill: $combobox--color-primary;
        width: 19px;
        height: 19px;
        margin: 11px;

        @include media-breakpoint-up(md) {
            width: 16px;
            height: 16px;
            margin: 8px;
        }
    }

    @include media-breakpoint-up(md) {
        width: 32px;
        height: 32px;
    }
}

.combobox--search-results {
    display: none;
    position: absolute;
    z-index: 4;
    width: 100%;
    top: 37px;
    border: 1px solid $combobox--color-border;
    border-block-start: none;
    background-color: $background-color;

    .result {
        margin: 20px 10px;
    }

    .result--link {
        color: $menu--color-primary;

        &:hover,
        :active {
            color: $menu--color-secondary;
            text-decoration: none;
        }
    }

    .result--image {
        width: inherit
    }

    .result--description {
        text-align: center;
        line-height: 1.5;
        margin-bottom: 0;
        font-size: .7rem;
        font-family: Arial, Helvetica, sans-serif;
    }

    @include media-breakpoint-up(md){
        top: 31px;
    }
}

.combobox--search-results-active {
    display: block;
}