.logo {
    display: block;
    width: fit-content;
    margin: 35px auto;

    @include media-breakpoint-up(md) {
        margin: 0;
    }

    @include media-breakpoint-up(lg) {
        margin: 33px auto 0 0;
    }
}

.no-logo {
    display: block;
    width: fit-content;
    font-family: $merri-bold, sans-serif;
    font-size: 2.5rem;
    color: $menu--color-primary;
    text-transform: uppercase;
    margin: 0 auto 25px;

    &:hover {
        text-decoration: none;
        color: $menu--color-primary;
    }

    @include media-breakpoint-up(md) {
        position: relative;
        top: 37px;
        margin: 0;
        line-height: 1;
    }
}
