.menu-mobile {
    position: relative;

    @include media-breakpoint-up(md) {
        display: none;
    }
}

.menu-mobile--minicart {
    display: none;
}

.menu-mobile--title {
    display: none;

    @media screen and (min-width: 375px) {
        display: inline;
    }
}

.menu-mobile--button-dropdown,
.menu-mobile--button-cart {
    position: relative;
    display: block;
    height: 3.125rem;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: .9rem;
    background: none;
    font-family: $cousine-bold, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: $menu--color-primary;

    svg {
        margin-bottom: 3px;
        fill: $menu--color-primary;
    }
}

.menu-mobile--button-dropdown {
    margin-right: auto;
}

.menu-mobile--button-cart {
    background-color: $background-color;
    margin-left: auto;
    z-index: 3;
}

.menu-mobile--cart-active {
    border: 1px solid $menu--color-border;
    border-block-end: unset;
    padding: calc(.9rem - 1px);
}

.menu-mobile--dropdown {
    display: none;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 2;
    background-color: $background-color;
    box-shadow: 0px 5px 5px 0px $menu--color-border;
}

.menu-mobile--dropdown-active {
    display: block;
}

.menu--active,
.menu-mobile--item,
.menu-mobile--item-expand,
.menu-mobile--subitem,
.menu-mobile--subitem-expand,
.menu-mobile--submenu-item {
    font-family: $cousine-bold, sans-serif;
    font-size: 1rem;
    color: $menu--color-primary;
    text-transform: uppercase;

    a {
        color: inherit;
        text-decoration: none;

        &:hover,
        :active {
            text-decoration: none;
            color: inherit;
        }
    }
}

.menu-mobile--subitem,
.menu-mobile--subitem-expand,
.menu-mobile--submenu-item {
    font-size: 1rem;
}

.menu-mobile--accordian,
.menu-mobile--submenu-accordian {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-out;
}

.menu-mobile--subitem,
.menu-mobile--subitem-expand,
.menu-mobile--submenu-accordian {
    background-color: $menu--color-background;
    margin-bottom: 3px;
}

.menu-mobile--subitem-expand {
    margin-bottom: 0;
}

.menu-mobile--item,
.menu-mobile--subitem,
.menu-mobile--item-expand,
.menu-mobile--subitem-expand {
    position: relative;
    padding: 12px 15px;
}

.menu-mobile--item,
.menu-mobile--item-expand {
    border-bottom: 1px solid $menu--color-border;

    &:last-child {
        border-bottom: none;
    }
}

.menu--active {
    color: $menu--color-secondary;
}

.menu-mobile--item-expand-icon {
    display: none;
    width: fit-content;
    margin-left: auto;
    border-radius: 100%;


    svg {
        width: 14px;
        height: 14px;
        fill: $menu--color-primary;
        margin-bottom: 2px;
    }
}

.icon--active {
    display: block;
}

.menu-mobile--submenu-items {
    list-style: none;
    padding: 0 15px;
}

.menu-mobile--submenu-item {
    font-size: .78rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 10px 0;

    &:first-child {
        margin: 0 0 10px 0;
    }
}

.menu-mobile--ads {
    padding: 0 15px;
}

.menu-mobile--ad {
    position: relative;
    margin: 10px auto;
}

.menu-mobile--ad-image {
    display: block;
    width: 100%;
    margin: 0 auto;
}