.menu-ads {
    padding: 0 15px;

    &-link {
        display: block;
        position: relative;
        height: 100%;
        margin: 15px 0;

        &:nth-child(n+2) {
            height: 8.125rem;
        }
    }

    &-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &-content {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .3);
        z-index: 1;
    }
}

.menu-ads--primary,
.menu-ads--secondary {
    &-link {
        display: block;
        position: relative;
        height: 100%
    }

    &-image {
        display: block;
        width: 100%;
        height: inherit;
        object-fit: cover;
        object-position: center;
    }

    &-content {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .3);
        z-index: 1;
    }
}

.menu-ads--primary {
    display: none;
    height: 100%;
    min-height: 16.43rem;

    @include media-breakpoint-up(lg) {
        display: block;
    }
}

.menu-ads--secondary {
    padding: 0 15px;

    @include media-breakpoint-up(md) {
        padding: 0;
        margin-top: 20px;
    }

    @include media-breakpoint-up(lg) {
        margin-top: 50px;
    }

    &-link {
        max-height: 8.125rem;
    }
}