.menu-desktop {
    display: none;

    @include media-breakpoint-up(lg) {
        display: block;
    }
}

.menu-desktop--items {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    min-height: 54px;
    padding: 0;
    margin-left: auto;
    margin-bottom: 0;
    list-style: none;
}


.menu-desktop--item {
    width: 6.25rem;
    height: 100%;
    padding: .812rem 0;
    text-transform: uppercase;
    font-family: $cousine-bold, sans-serif;
    font-size: .9rem;
    line-height: 2;
    cursor: pointer;
}

.menu-desktop--item-link {
    display: block;
    width: fit-content;
    margin-left: auto;
    color: $menu--color-primary;
    text-decoration: none;

    &:hover {
        color: $menu--color-primary;
        text-decoration: none;
    }
}

.menu-desktop--item-button {
    display: block;
    width: fit-content;
    color: $menu--color-primary;
    border: none;
    background: none;
    padding: 0;
    margin-left: auto;
    text-transform: uppercase;
}

.menu-desktop--item-icon {
    display: inline-block;
    transition: transform .3s linear;
    transform: rotate(-180deg);

    svg {
        width: 7px;
        height: 4px;
    }
}

.menu-desktop--dropdown {
    display: none;
    position: absolute;
    width: 100%;
    max-width: 687px;
    right: 15px;
    z-index: 3;
    padding: 10px 10px;
    border: 1px solid $menu--color-border;
    background-color: $background-color;
    transform: translateY(13px);
    cursor: default;

    @include media-breakpoint-up(lg){
        padding: 30px 15px;
        max-width: 928px;
    }

    @include media-breakpoint-up(xl){
        max-width: 1110px;
    }
}

.menu-desktop--dropdown-active {
    display: block;
}

.menu-desktop--item-active {
    transform: rotate(0deg);
}

.menu-desktop--item-title {
    position: relative;
    width: fit-content;
    font-family: $cousine-bold, sans-serif;
    font-size: 1rem;
    color: $menu--color-primary;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: $menu--color-primary;
    }

    &::after {
        content: '';
        position: absolute;
        width: 70%;
        bottom: 5px;
        margin: 0 5px;
        border-bottom: 1px solid $menu--color-border;
    }
}

.menu-desktop--sub-menu-items {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.menu-desktop--sub-menu-item {
    font-size: .7rem;
    font-family: Arial, Helvetica, sans-serif;
    color: $menu--color-primary;
    text-transform: uppercase;
    margin: 5px 0;

    a {
        display: block;
        text-decoration: none;
        color: inherit;

        &:hover {
            color: $menu--color-secondary;
            text-decoration: inherit;
        }
    }
}