.menu-ads,
.menu-ads--primary,
.menu-ads--secondary {
    &-link {
        display: block;
    }

    &-image {
        display: block;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }

    &-content {
        position: relative;
        height: 100%;
        background: rgba(0,0,0,.5);
        z-index: 1;
    }
}

.menu-ads--primary {
    display: none;
    @include media-breakpoint-up(lg){
        display: block;
    }
}

.menu-ads,
.menu-ads--secondary {
    padding: 0 15px;
    @include media-breakpoint-up(md){
        padding: 0;
        margin-top: 20px;
    }
    @include media-breakpoint-up(lg){
        padding: 0;
        margin-top: 50px;
    }
}