.footer {
    padding-top: 4.375rem;
    padding-bottom: 1.875rem;
    background: $footer--color-background;

    &--heading {
        display: block;
        font-family: $cousine-regular, sans-serif;
        font-size: 1rem;
        color: $footer--color-primary;
        text-transform: uppercase;
        padding-bottom: 1rem;
        border-bottom: 1px solid darken($color: $footer--color-primary, $amount: 50%);
    }

    &--links {
        list-style: none;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: .875rem;
        color: $footer--color-primary;

        &-link {
            padding-bottom: .8rem;

            a {
                display: block;
                text-decoration: none;
                text-transform: capitalize;
                color: $footer--color-primary;

                &:hover {
                    text-decoration: none;
                    color: $footer--color-primary;
                }
            }
        }
    }

    &--cards,
    &--socials {
        width: fit-content;
    }

    &--socials {
        @include media-breakpoint-up(md){
            margin-left: auto;
        }
    }


    &--cards-card,
    &--socials-social {
        display: inline-block;
    }

    &--cards-card {
        margin-right: 12px;
    }

    &--socials-social {
        width: 2.25rem;
        height: 2.25rem;
        border: 2px solid $footer--color-primary;

        &-icon {
            display: block;
            position: relative;
            fill: $footer--color-primary;
            width: 1.125rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &--copyright {
        display: block;
        margin-top: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        color: $footer--color-primary;
        text-transform: capitalize;
    }
}