body {
    -webkit-font-smoothing: subpixel-antialiased;
}

.active {
    display: block !important;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-position {
    position: unset !important;
}

.relative-position {
    position: relative !important;
}

input[type=text] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}