body {
    -webkit-font-smoothing: subpixel-antialiased;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.no-position {
    position: unset;
}

.relative-position {
    position: relative;
}

input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}