.notification-bar {
    &-success,
    &-warning {
        position: fixed;
        width: 100%;
        top: 0;
        border-radius: 0;
        text-align: center;
        text-transform: capitalize;
        font-family: $cousine-bold, sans-serif;
        font-size: 1rem;
        transition: transform .3s ease-in-out;
        z-index: 9999;
        transform: translateY(-4rem);
    }

    &-active {
        transform: translateY(0rem);
    }
}