//* FONTS
$merri-regular: 'merriweather_regular';
$merri-bold: 'merriweather_bold';
$merri-extrabold: 'merriweather_extrabold';
$roboto--condensed: 'roboto_condensed';
$roboto--condensed-bold: 'roboto_condensed_bold';
$cousine-bold: 'cousine_bold';
$cousine-regular: 'cousine_regular';

//* GENERAL
$background-color: #ffffff;

//* TOPBAR
$topbar--color-background: #f6f6f6;
$topbar--color-primary: #7e7e7e;
$topbar--color-secondary: #444444;

//* MENU
$menu--color-primary:#565656;
$menu--color-secondary: #cf4647;
$menu--color-border: #bbbbbb;
$menu--color-background: #eeeeee;

//* MINICART
$minicart--color-primary: #222222;
$minicart--color-secondary: #7b7b7b;
$minicart--color-strikeout: #999999;

//* COMBOBOX
$combobox--color-border: #e1e1e1;
$combobox--color-primary: #888888;

//* SLIDESHOW
$swiper--color-primary: #555555;
$swiper--color-secondary: #4c4c4c;
$swiper--color-link: #333333;
$swiper--color-link-active: #cf4647;

//* IMAGE GALLERY
$advertisement--color-background: #f3f3f3;

//* FEATURED COLLECTION
$featured-collection--color-primary: #999999;
$featured-collection--color-secondary: #444444;
$featured-collection--color-badge: #cf4647;
$featured-collection--color-active: #cf4647;

//* FOOTER
$footer--color-background: #1f1f1f;
$footer--color-primary: #b6b6b6;